.badgeShow-desc {
  color: var(--Label-Color-Dark-Secondary, rgba(235, 235, 245, 0.6));
  /* Footnote / Regular */
  font-family: var(--font-sf-pro-text);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
  letter-spacing: -0.078px;
}
