.videoAtions-otr {
  display: flex;
  gap: 0px 8px;
  align-items: center;
  .poUpsAtionsOtr {
    flex: 1;
    .poUpsAtionsInr {
      padding: 14px 20px;
      border-radius: 14px;
      border: 1px solid #9fe870;
      color: #9fe870;
      color: #9fe870;
      font-family: var(--font-sf-pro-text);
      text-align: center;
      font-size: 17px;
      font-style: normal;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: -0.408px;
    }
  }
  .poUpsAtionsOtr2 {
    flex: 1;
    .poUpsAtionsInr2 {
      padding: 14px 20px;
      text-align: center;
      border-radius: 14px;
      background: #9fe870;
      font-family: var(--font-sf-pro-text);
      color: #163300;
      font-size: 17px;
      font-style: normal;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: -0.408px;
    }
  }
}
